includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 6
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: missingType.iterableValue
  parallel:
    maximumNumberOfProcesses: 0
  scanFiles:
    - stubs/woocommerce.php
    - stubs/wp-cli.php
    - stubs/requests.php
    - stubs/agentwp-constants.php
  paths:
    - agentwp.php
    - src
    - uninstall.php
  excludePaths:
    - assets
    - docker
    - docs
    - languages
    - node_modules
    - react
    - tests
    - vendor
